!!! 5
%html
  %head
    %title= AppConfig.site_title
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css'
    = stylesheet_link_tag 'fonts'
    = stylesheet_link_tag 'login'
    = csrf_meta_tag
  %body#devise
    %header
      .container
        #logo Invoices
    .container
      - if flash[:alert]
        .col-lg-offset-3.col-lg-6
          .alert.alert-danger= flash[:alert]
      = yield